
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        form(action="change-email", method="post")
            input(type="text", name="oldEmail", placeholder="Old Email")
            input(type="text", name="email", placeholder="New Email")
            input(type="password", name="password", placeholder="Password")
            input(type="submit", value="Change Email")
