
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        form(action="change-password", method="post")
            input(type="password", name="oldPassword", placeholder="Old Password")
            input(type="password", name="password", placeholder="New Password")
            input(type="password", name="confirmPassword", placeholder="Confirm New Password")
            input(type="submit", value="Change Password")
