
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        p= message
        form(action="reset-password", method="post")
            if status === "Email Sent"
                input(type="text", name="code", placeholder="Verification code")
                input(type="password", name="password", placeholder="New Password")
                input(type="password", name="confirmPassword", placeholder="Confirm New Password")
            else
                input(type="email", name="email", placeholder="Email")
            input(type="submit", value="Reset Password")
