<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        a(href="/account/login") Login
        span &nbsp;|&nbsp;
        a(href="/account/signup") Signup
        span &nbsp;|&nbsp;
        a(href="/account/change-password") Change Password
        span &nbsp;|&nbsp;
        a(href="/account/reset-password") Reset Password
        span &nbsp;|&nbsp;
        a(href="/account/change-email") Change Email
